<%= form_for(@visit) do |f| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% @visit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>



  <div class="field">
  <select name="visit[country_id]">
    <% @countries.each do |country| %>
        <option value="<%= country.id %>"><%= country.name %></option>
    <% end %>
  </select>
  </div>
  

<!-- Añado el campo de texto para el comentario de cada visita -->
 
<br>
<br>

 




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
