<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @visit.user.username %>
</p>

<p>
  <strong>Country:</strong>
  <%= @visit.country_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @visit.user.description %>
</p>

<p>
   <b>Visit Image</b>
   <%= image_tag @visit.image.url, width: '200', height: '200' %>
 </p>

<%= link_to 'Edit', edit_visit_path(@visit) %>
<%= link_to 'Delete', visit_path, method: 'delete' %>
<%= link_to 'Back', user_path(current_user) %>
</div>
