  <div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @country.flag %>
      <h3><%= @country.name %></h3>
    </div>
    <div class="col-md-4">
      <ul>
        <li><strong>Capital:</strong><%= @country.capital %></li>
        <li><strong>Language:</strong><%= @country.language %></li>
        <li><strong>Currency:</strong><%= @country.currency %></li>
        <li><strong>Population:</strong><%= @country.population %></li>
      </ul>
    </div>
    <div class="col-md-4">
       <iframe src="<%= @country.google_map %>" width="400" height="300" frameborder="0" allowfullscreen></iframe>  
    </div>    
  </div>



<h2>Holidays in <%= @country.name %></h2>

<div class="row">
  <% @country.visits.each do |visit| %>
      <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading"><a href="/users/<%= visit.user.id %>"><%= visit.user.username %></a></div>
        <div class="panel-body">
          <a href="#" class="thumbnail">
            <img src="<%= visit.image %>" alt="">
          </a>
        </div>
      </div>
    </div>
<% end %>
</div>
</div>
  